.blog {
  .row {
    --bs-gutter-y: 1rem;
  }
  &-card {
    width: 100%;
    border: 1px solid $clr-white;
    cursor: pointer;
    overflow: hidden;
  }
  &-info {
    position: relative;
    overflow: hidden;
  }
  &-img {
    max-width: 100%;
    &:hover img {
      transform: scale(1.05);
    }
    img {
      width: 100%;
      background-size: cover;
      object-fit: cover;
      transform: scale(1);
      transition: transform 0.4s ease-in-out;
    }
  }

  &-share {
    position: absolute;
    top: 10px;
    left: 10px;
    span {
      position: relative;
      display: flex;
      align-items: center;

      > i {
        cursor: pointer;
        padding: 10px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        border-radius: 50%;
        margin-right: 20px;
        &:hover {
          background-color: $clr-white;
          color: $clr-black;
        }
      }
      &:hover ul {
        visibility: inherit;
        top: 0;
      }
      ul {
        position: absolute;
        left: 100%;
        padding: 0;
        margin: 0;

        display: flex;
        align-items: center;
        gap: 10px;
        top: -50px;
        visibility: hidden;
        transition: top ease-in-out 0.4s;
        li {
          i {
            padding: 10px 13px;
            background-color: $clr-white;
            color: $clr-black;
            border-radius: 0;

            transition: border-radius 0.4s ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: var(--main-color);
              color: $clr-white;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  &-review {
    position: absolute;
    left: 0;
    bottom: 0;
    color: $clr-white;
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    li {
      list-style: none;
      a {
        display: block;
        text-decoration: none;
        color: $clr-white;
        font-size: 13px;
        transition: $transition;
        &:hover {
          color: var(--main-color);
        }
        i {
          margin-right: 3px;
        }
      }
    }
  }
  &-content {
    padding: 25px 5px;
    overflow: hidden;
  }
  &-title {
    font-size: 20px;
    font-weight: 900;
    line-height: 26px;
    color: $clr-white;
    margin-bottom: 15px;
    transition: $transition;
    &:hover {
      color: var(--main-color);
    }
  }
  &-text {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  &-btn {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 900;
    &:hover {
      color: var(--main-color);
      text-decoration: none;
    }
    i {
      transform: translateX(0);
      transition: transform 0.4s ease-in-out;
    }
    &:hover i {
      transform: translateX(10px);
    }
  }
}
