.header {
  &-default {
    background-color: $clr-white;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  &-logo {
    width: 100%;
    a {
      display: block;
      width: 153px;
      height: 43px;

      img {
        background-size: contain;
        object-fit: cover;
        background-position: center;
      }
    }
  }
  &-info {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 15px;
  }
  &-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-icon {
      width: 40px;
      height: 40px;
      border: 1px solid $clr-black;
      border-radius: 50%;
      color: $clr-gray;
      font-size: 17px;
      line-height: 40px;
      margin-right: 10px;
      text-align: center;
      transition: $transition;
      cursor: pointer;
      &:hover {
        color: var(--main-color);
        border: 1px solid;
      }
    }
    &-text {
      p {
        color: $clr-black;
        font-size: 14px;
        font-weight: 900;
        line-height: 17px;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      a {
        display: block;
        text-decoration: none;
        color: $clr-gray;
        transition: $transition;
        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
  &-socials {
    ul {
      display: flex;
      align-items: center;
      gap: 7px;
      margin: 0;
      padding: 0;
      li {
        a {
          display: block;
          font-size: 23px;
          color: $clr-gray;
          transition: $transition;
          &:hover {
            color: var(--main-color);
          }
          i {
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    &-contact {
      &-icon {
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        margin-right: 5px;
      }
      &-text {
        p {
          display: none;
        }
        a {
          font-size: 16px;
        }
      }
    }
    &-socials {
      ul {
        gap: 5px;
        li {
          a {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &-default {
      padding: 20px 0;
    }
    &-info {
      line-height: 40px;
    }
    &-contact {
      display: none;
    }
    &-socials {
      display: none;
    }
  }
}
