.switcher {
  &-container {
    position: fixed;
    top: 150px;
    left: -70px;
    z-index: 1001;
    transition: left 0.3s ease-in-out;
  }
  &-btn {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: $clr-white;
    line-height: 40px;
    border: 1px solid $clr-white-blur;
    text-align: center;
    font-size: 20px;
    float: right;
    cursor: pointer;
    i {
      animation: rotate 2s linear infinite;
    }
  }
  &-theme {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $clr-white;
    padding: 15px;
    margin: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    h6 {
      color: $clr-black;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
    }
    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      border: 5px solid #000;
      background-color: $clr-white;
      cursor: pointer;
      margin-bottom: 5px;
    }
  }
}
.switcher-container.active {
  left: 0;
}
