$clr-white: #fff;
$clr-gray-text: #ccc;
$clr-white-blur: #eee;
$clr-input-modal: #888;
$clr-black: #000;
$clr-dark: #333;
$clr-gray: #555;
$clr-brown: #120f0f;
$ff-primary: "Lato", sans-serif;
$transition: all 0.3s ease-in-out;

:root {
  --main-color: #fa2837;
}
