:root {
  --main-color: #fa2837;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background: #000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.wrapper,
main {
  display: block;
  width: 100%;
  overflow: hidden;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background-color: var(--main-color) !important;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  padding: 5px 25px;
}

.btn-outline-success {
  background: var(--main-color);
  font-size: 15px;
  font-weight: 600;
  padding: 0 15px;
}

.section-header {
  padding-bottom: 55px;
}

.section-header h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}

.section-header h2 span {
  font-weight: 300;
}

.section-header p {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

.car-compare {
  position: absolute;
  padding: 2px 12px;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.car-compare input[type="checkbox"] {
  display: none;
}

.car-compare input[type="checkbox"] + label {
  color: #fff;
  text-transform: capitalize;
}

.car-compare input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-padding {
  padding: 110px 0;
}

.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.scroll-up-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 17px;
  font-weight: 900;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.scroll-up-btn:hover {
  color: var(--main-color);
  background-color: transparent;
  border: 1px solid #fff;
}

.scroll-up-btn.show {
  visibility: visible;
  -webkit-animation: translateY 0.3s ease-in-out, opacity 0.3s;
          animation: translateY 0.3s ease-in-out, opacity 0.3s;
}

@media (max-width: 768px) {
  .btn-primary {
    padding: 8px 25px;
  }
  .section-padding {
    padding: 80px 0;
  }
  .section-header {
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .section-header p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .footer .flex-row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@-webkit-keyframes translateY {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes translateY {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes navbarSticky {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navbarSticky {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header-default {
  background-color: #fff;
  padding: 30px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header-logo {
  width: 100%;
}

.header-logo a {
  display: block;
  width: 153px;
  height: 43px;
}

.header-logo a img {
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-contact-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  color: #555;
  font-size: 17px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header-contact-icon:hover {
  color: var(--main-color);
  border: 1px solid;
}

.header-contact-text p {
  color: #000;
  font-size: 14px;
  font-weight: 900;
  line-height: 17px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.header-contact-text a {
  display: block;
  text-decoration: none;
  color: #555;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-contact-text a:hover {
  color: var(--main-color);
}

.header-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin: 0;
  padding: 0;
}

.header-socials ul li a {
  display: block;
  font-size: 23px;
  color: #555;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-socials ul li a:hover {
  color: var(--main-color);
}

.header-socials ul li a i {
  font-weight: 400;
}

@media (max-width: 992px) {
  .header-contact-icon {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 5px;
  }
  .header-contact-text p {
    display: none;
  }
  .header-contact-text a {
    font-size: 16px;
  }
  .header-socials ul {
    gap: 5px;
  }
  .header-socials ul li a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header-default {
    padding: 20px 0;
  }
  .header-info {
    line-height: 40px;
  }
  .header-contact {
    display: none;
  }
  .header-socials {
    display: none;
  }
}

.navbar-home {
  font-size: 13px;
  color: #fff;
  font-size: 13px;
  line-height: 27px;
  font-weight: 800;
  white-space: nowrap;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-home:hover {
  color: var(--main-color);
}

.nav-item {
  padding: 10px;
  text-transform: uppercase;
  position: relative;
}

.nav-link {
  color: #fff !important;
  font-size: 13px;
  font-weight: 800;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--main-color) !important;
}

.dropdown-item {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu.show {
  background: var(--main-color);
}

.dropdown-item:hover {
  color: #fff;
  background-color: #000;
}

.navbar.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  -webkit-animation: navbarSticky 0.5s ease-in-out;
          animation: navbarSticky 0.5s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .nav-item:hover > .dropdown-menu {
    display: block;
    background-color: var(--main-color);
    -webkit-animation: translateY 0.3s ease-in-out, opacity 0.3s;
            animation: translateY 0.3s ease-in-out, opacity 0.3s;
  }
  .nav .dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    padding-top: 0.125rem;
  }
}

@media (max-width: 576px) {
  .dropdown-item {
    font-size: 12px;
    font-weight: 600;
  }
  .dropdown-menu {
    position: relative;
    display: none;
  }
}

.banner {
  overflow: hidden;
}

.banner-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  max-height: 600px;
}

.banner-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.banner-content {
  color: #fff;
  position: absolute;
  right: 5%;
  top: 35%;
  max-width: 400px;
}

.banner-content h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.banner-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}

.banner-btn {
  font-size: 16px;
  padding: 10px 25px;
}

.banner-btn i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  color: var(--main-color);
  border-radius: 50%;
}

.banner .owl-dots {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.banner .owl-dot.active span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color) !important;
}

.banner .owl-theme .owl-nav {
  margin-top: 0;
}

.banner .owl-prev {
  position: absolute;
  left: 20px;
  top: 40%;
}

.banner .owl-prev span {
  font-size: 60px;
}

.banner .owl-next {
  position: absolute;
  right: 20px;
  top: 40%;
}

.banner .owl-next span {
  font-size: 60px;
}

.banner .owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: var(--main-color);
  text-decoration: none;
}

@media (min-width: 1200px) {
  .banner-img {
    max-height: 100%;
  }
  .banner-img img {
    height: 100%;
  }
}

@media (max-width: 992px) {
  .banner-content {
    padding-left: 80px;
  }
  .banner-content h1 {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .banner-content p {
    font-size: 18px;
    line-height: 25px;
  }
  .banner-btn {
    font-size: 15px;
    padding: 7px 25px;
  }
  .banner-btn i {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .banner-content {
    position: absolute;
    right: 5%;
    top: 30%;
    max-width: 400px;
  }
  .banner-content h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .banner-content p {
    font-size: 15px;
    line-height: 20px;
  }
  .banner-btn {
    font-size: 15px;
    padding: 5px 20px;
  }
  .banner-btn i {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
  .banner .owl-prev {
    position: absolute;
    left: 20px;
    top: 35%;
  }
  .banner .owl-next {
    position: absolute;
    right: 20px;
    top: 35%;
  }
  .banner .owl-dots {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 576px) {
  .banner-content {
    position: absolute;
    right: 5%;
    top: 20%;
    max-width: 260px;
  }
  .banner-content h1 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .banner-content p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .banner-btn {
    font-size: 13px;
    padding: 5px 15px;
  }
  .banner-btn i {
    width: 13px;
    height: 13px;
    line-height: 13px;
  }
  .banner .owl-prev {
    position: absolute;
    left: 20px;
    top: 30%;
  }
  .banner .owl-next {
    position: absolute;
    right: 20px;
    top: 30%;
  }
}

@media (max-width: 375px) {
  .banner-content h1 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .banner-content p {
    font-size: 10px;
    line-height: 1;
  }
  .banner-btn {
    font-size: 10px;
    padding: 5px 15px;
  }
  .banner-btn i {
    width: 13px;
    height: 13px;
    line-height: 13px;
  }
}

.filter {
  padding: 45px;
  background-color: #eee;
}

.filter-heading {
  color: #000;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 25px;
}

.filter-heading span {
  font-weight: 300;
}

.filter .form-select {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #000;
  font-size: 17px;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
}

.filter .form-label {
  font-size: 14px;
  color: #000;
  margin: 0;
}

.filter .form-group {
  margin-bottom: 20px;
}

.filter-btn {
  font-size: 18px;
  height: 46px;
  line-height: 30px;
  width: 100%;
  padding: 0 20px;
}

.filter .price-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.filter .price-input .field {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter .price-input .field span {
  color: #000;
  font-size: 17px;
}

.filter .price-input .field input {
  width: 100%;
  height: 46px;
  outline: none;
  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
  border: 1px solid #555;
  font-size: 17px;
}

.filter .price-input .separator {
  color: #000;
  font-size: 20px;
  font-weight: 900;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-appearance: none;
}

.filter input[type="number"]::-webkit-inner-spin-button,
.filter input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.filter .slider {
  height: 10px;
  border-radius: 5px;
  background: #555;
  position: relative;
}

.filter .slider .progress {
  height: 10px;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: var(--main-color);
}

.filter .range-input {
  position: relative;
}

.filter .range-input input {
  position: absolute;
  top: -10px;
  height: 10px;
  width: 100%;
  color: var(--main-color);
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

.filter input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: var(--main-color);
}

.filter input[type="range"]::-moz-slider-thumb {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background: var(--main-color);
}

@media (max-width: 768px) {
  .filter .field input {
    height: 30px;
  }
}

.about-item {
  position: relative;
  padding: 55px 25px;
  max-width: 450px;
  border-radius: 0 30px;
  border: 3px solid #fff;
}

.about-img {
  position: absolute;
  right: -120px;
  top: 40px;
  max-width: 350px;
}

.about-img img {
  max-width: 100%;
}

.about-content h3 {
  font-size: 28px;
  font-weight: 900;
}

.about-content h3 span {
  font-weight: 300;
}

.about-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 26px;
  width: 45%;
}

.about-btn {
  font-size: 16px;
  padding: 10px 25px;
}

.about-btn i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  color: var(--main-color);
  border-radius: 50%;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about-img {
    position: absolute;
    max-width: 240px;
    right: -30px;
    top: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-img {
    position: relative;
    max-width: 350px;
    right: 0;
    top: 0;
  }
  .about-content p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-img {
    position: relative;
    max-width: 350px;
    right: 0;
    top: 0;
  }
  .about-content p {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about-item {
    max-width: 100%;
    text-align: center;
  }
  .about-img {
    max-width: 100%;
  }
  .about-img img {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .about .row {
    --bs-gutter-y: 1.5rem;
  }
}

.gallery {
  background-color: #333;
}

.gallery-tab {
  width: 20%;
  margin: 0 auto;
}

.gallery-tab-list {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  border: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gallery-tab-item {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gallery-tab-link {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  padding: 7px 17px;
}

.gallery-tab-link:hover {
  color: #000;
}

.gallery-content {
  padding-top: 40px;
}

.gallery-content .row {
  --bs-gutter-y: 1rem;
}

.gallery-content .car {
  background: #000;
  color: #fff;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
}

.gallery-content .car-info {
  position: relative;
}

.gallery-content .car-info ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.gallery-content .car-info ul li {
  color: #fff;
  display: inline-block;
  font-size: 13px;
  line-height: 50px;
  list-style: outside none none;
  margin: 0 15px 0 auto;
}

.gallery-content .car-info ul li i {
  margin-right: 8px;
}

.gallery-content .car-img {
  max-width: 100%;
  max-height: 100%;
}

.gallery-content .car-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.gallery-content .car-name {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-content .car-name h6 {
  font-size: 18px;
  font-weight: 800;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-content .car-name h6:hover {
  color: var(--main-color);
}

.gallery-content .car-price {
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-content .car-price:hover {
  color: var(--main-color);
}

.gallery-content .car-desc {
  padding: 0 20px 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 15px;
}

.tab-active {
  position: relative;
  color: #fff;
  background: var(--main-color);
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
}

.tab-active::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--main-color);
}

.tab-active:hover {
  color: #fff;
}

.gallery-content {
  display: none;
}

.gallery-content.active {
  display: block;
}

@media (max-width: 1200px) {
  .gallery-tab {
    width: 25%;
  }
}

@media (max-width: 992px) {
  .gallery-tab {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .gallery-tab {
    width: 40%;
  }
}

@media (max-width: 576px) and (min-width: 375px) {
  .gallery-tab {
    width: 60%;
  }
}

@media (max-width: 374px) {
  .gallery-tab {
    width: 60%;
  }
}

.preferential {
  background: url(../assets/Preferential/fun-facts-bg.jpg) repeat scroll center center;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 95px 0;
  position: relative;
}

.preferential-content {
  background-color: var(--main-color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

.preferential-icon, .preferential-quantity {
  font-size: 40px;
  font-weight: 900;
}

.preferential-text {
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .preferential-content {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .preferential-content {
    width: 150px;
    height: 150px;
  }
  .preferential-icon, .preferential-quantity {
    font-size: 30px;
    font-weight: 900;
  }
  .preferential-text {
    font-size: 13px;
    line-height: 0;
  }
}

@media (max-width: 576px) {
  .preferential-content {
    margin: 5px auto;
  }
}

.featured .row {
  --bs-gutter-y: 1rem;
}

.featured-car {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.featured-car:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(134, 124, 124, 0.12) 0px -12px 30px, rgba(182, 173, 173, 0.12) 0px 4px 6px, rgba(189, 181, 181, 0.17) 0px 12px 13px, rgba(214, 205, 205, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(134, 124, 124, 0.12) 0px -12px 30px, rgba(182, 173, 173, 0.12) 0px 4px 6px, rgba(189, 181, 181, 0.17) 0px 12px 13px, rgba(214, 205, 205, 0.09) 0px -3px 5px;
}

.featured-info {
  position: relative;
}

.featured-info .label-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 13px;
  padding: 2px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.featured-info .label-icon:hover {
  background-color: #000;
}

.featured-content {
  background-color: #fff;
  color: #000;
  padding: 20px;
}

.featured-name {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 15px;
  line-height: 1.2;
}

.featured-name:hover {
  color: var(--main-color);
}

.featured-price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  font-weight: 600;
}

.featured-price:hover {
  color: var(--main-color);
}

.featured-address {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 13px;
  color: #555;
}

.featured-address:hover {
  color: var(--main-color);
}

.featured .flex-row {
  margin-bottom: 20px;
}

.featured ul {
  padding: 20px 0 0;
  border-top: 1px solid #555;
  margin: 0;
  overflow: hidden;
}

.featured ul li {
  width: 50%;
  float: left;
  margin-bottom: 8px;
  line-height: 26px;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.featured ul li:hover {
  color: var(--main-color);
}

.featured ul li i {
  font-size: 15px;
  margin-right: 8px;
}

.trending {
  background-color: #333;
  position: relative;
}

.trending-item {
  position: relative;
}

.trending-item:hover .bg-dark {
  height: 100%;
}

.trending .bg-dark {
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7) !important;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trending .bg-dark h2 {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}

.trending .owl-dot.active span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color) !important;
}

.testimonial {
  background-image: url(../assets/testimonial/testimonial-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.testimonial .container {
  position: relative;
  z-index: 1;
}

.testimonial-item {
  position: relative;
  padding: 0 20px;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.testimonial-content {
  position: relative;
  background-color: #fff;
  color: #000;
  border-radius: 0 30px 0 30px;
  padding: 35px;
  width: 425px;
  float: right;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.testimonial-content::after {
  position: absolute;
  content: "";
  background: url(../assets/testimonial/testimonial-content-bg.jpg) repeat scroll 0 0/cover;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border-radius: 0 30px 0 30px;
}

.testimonial-img {
  position: absolute;
  border: 5px solid #fff;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  left: 10px;
  float: left;
  top: 42px;
  overflow: hidden;
  z-index: 1;
}

.testimonial-img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.testimonial-img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
}

.testimonial-heading {
  margin-bottom: 35px;
  text-align: right;
  position: relative;
}

.testimonial-heading h2 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 900;
}

.testimonial-heading span {
  font-size: 14px;
}

.testimonial-text {
  padding-left: 110px;
  margin-bottom: 35px;
  position: relative;
  font-size: 14px;
  line-height: 24px;
}

.testimonial .owl-dot.active span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color) !important;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .testimonial-item {
    padding: 0;
  }
  .testimonial-img {
    width: 160px;
    height: 160px;
    left: 0;
  }
}

@media (max-width: 991px) {
  .testimonial-item {
    padding: 85px;
  }
  .testimonial-img {
    top: 70%;
    left: 30px;
  }
}

@media (max-width: 768px) {
  .testimonial-item {
    padding: 0;
  }
  .testimonial-img {
    left: 30px;
  }
}

@media (max-width: 576px) {
  .testimonial-item {
    padding: 0;
  }
  .testimonial-img {
    width: 150px;
    height: 150px;
    left: 0;
  }
}

.blog .row {
  --bs-gutter-y: 1rem;
}

.blog-card {
  width: 100%;
  border: 1px solid #fff;
  cursor: pointer;
  overflow: hidden;
}

.blog-info {
  position: relative;
  overflow: hidden;
}

.blog-img {
  max-width: 100%;
}

.blog-img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blog-img img {
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.blog-share {
  position: absolute;
  top: 10px;
  left: 10px;
}

.blog-share span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-share span > i {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-right: 20px;
}

.blog-share span > i:hover {
  background-color: #fff;
  color: #000;
}

.blog-share span:hover ul {
  visibility: inherit;
  top: 0;
}

.blog-share span ul {
  position: absolute;
  left: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  top: -50px;
  visibility: hidden;
  -webkit-transition: top ease-in-out 0.4s;
  transition: top ease-in-out 0.4s;
}

.blog-share span ul li i {
  padding: 10px 13px;
  background-color: #fff;
  color: #000;
  border-radius: 0;
  -webkit-transition: border-radius 0.4s ease-in-out;
  transition: border-radius 0.4s ease-in-out;
  cursor: pointer;
}

.blog-share span ul li i:hover {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
}

.blog-review {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blog-review li {
  list-style: none;
}

.blog-review li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog-review li a:hover {
  color: var(--main-color);
}

.blog-review li a i {
  margin-right: 3px;
}

.blog-content {
  padding: 25px 5px;
  overflow: hidden;
}

.blog-title {
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
  color: #fff;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog-title:hover {
  color: var(--main-color);
}

.blog-text {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 15px;
}

.blog-btn {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 900;
}

.blog-btn:hover {
  color: var(--main-color);
  text-decoration: none;
}

.blog-btn i {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.blog-btn:hover i {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.footer-top {
  background-color: #333;
  color: #eee;
  padding: 80px 0;
}

.footer-content {
  overflow: hidden;
}

.footer-content h2 {
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.footer-content ul {
  padding: 0;
  margin: 0;
}

.footer-content ul li {
  margin-bottom: 16px;
  position: relative;
}

.footer-content ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 23px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-content ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.footer-bottom {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
}

.footer-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-widget ul {
  padding: 0;
  margin: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer-widget ul li:hover a {
  color: var(--main-color);
}

.footer-widget ul li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  color: #fff;
}

.footer .coppy-right {
  text-align: center;
}

.newsletter-form .form-group {
  height: 46px;
  margin-bottom: 15px;
}

.newsletter-form .form-group input.newsletter-input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  font-size: 13px;
  text-align: left;
  outline: none;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.newsletter-form-btn {
  display: block;
  width: 100%;
  padding: 7px 25px;
  font-size: 16px;
  font-weight: 900;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.newsletter-form-btn:hover {
  background-color: #000 !important;
}

.newsletter-form-btn span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  color: var(--main-color);
  background-color: #fff;
  margin-left: 5px;
}

.newsletter-form-btn span i {
  padding: 10px 5px;
}

.newsletter-form-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.newsletter-form .subcribed-text {
  color: #555;
  font-size: 12px;
  line-height: 18px;
  padding-top: 10px;
}

.modal .modal-dialog {
  width: 650px;
}

.modal-title {
  color: black;
  font-size: 24px;
  font-weight: 900;
}

.modal-content {
  padding: 30px;
}

.modal-header {
  padding: 15px 0;
  margin-bottom: 10px;
}

.modal .form-group {
  margin-bottom: 15px;
  position: relative;
}

.modal .form-group .form-control {
  background: #eee none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888;
  font-size: 15px;
  height: 46px;
  line-height: 30px;
  padding: 0 15px;
}

.modal .form-group .login-btn,
.modal .form-group .signup-btn,
.modal .form-group .reset-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 900;
}

.modal .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  margin: 0 0 15px 10px;
  gap: 15px;
}

.modal .checkbox label {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.modal .checkbox input[type="checkbox"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.modal .gray-text {
  font-size: 18px;
  font-weight: 900;
  color: #555;
  margin-bottom: 15px;
}

.modal .gray-text p {
  font-weight: 400;
  font-size: 15px;
}

.modal .btn.facebook-btn,
.modal .btn.twitter-btn,
.modal .btn.google-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
}

.modal .btn.facebook-btn i,
.modal .btn.twitter-btn i,
.modal .btn.google-btn i {
  font-size: 26px;
  margin-right: 10px;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  gap: 20px;
}

.modal-footer p {
  color: #000;
}

.modal-footer p a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
  margin-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-footer p a:hover {
  color: #000;
}

.modal .btn-close {
  background-color: var(--main-color);
  opacity: 1;
  position: relative;
}

.modal .btn-close:hover {
  -webkit-animation: rotate 0.3s linear;
          animation: rotate 0.3s linear;
  border: none;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .modal-dialog {
    max-width: 90%;
    margin: 20px auto;
  }
  .modal .btn.facebook-btn,
  .modal .btn.twitter-btn,
  .modal .btn.google-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.switcher-container {
  position: fixed;
  top: 150px;
  left: -70px;
  z-index: 1001;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.switcher-btn {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: #fff;
  line-height: 40px;
  border: 1px solid #eee;
  text-align: center;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.switcher-btn i {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.switcher-theme {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 15px;
  margin: 0;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.switcher-theme h6 {
  color: #000;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.switcher-theme-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 5px solid #000;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}

.switcher-container.active {
  left: 0;
}
/*# sourceMappingURL=style.css.map */